<header class="menu fixed lg:relative z-20">
    <div class="flex justify-between">
        <a href="index.html" class="flexhorizontal botonlogoheader">
            <img class="logoheader" src="././assets/logo-header.png" alt="">
        </a>
        <button id="botonmenu" class="fa-solid fa-bars mr-2 logobotoncontenido2 lg:hidden"></button>
    </div>
    <div class="flexvertical botonesmenu">
        <a id="bcalendario" href="/" class="flexhorizontal botoncontenido mt-24 lg:mt-0">
            <div class="contenedorlogobotoncontenido hidden lg:flex"><i
                    class="fa-sharp fa-solid fa-calendar logobotoncontenido"></i></div>
            <h2>Calendario</h2>
        </a>
        <a id="bprofesores" href="/profesores" class="flexhorizontal botoncontenido">
            <div class="contenedorlogobotoncontenido hidden lg:flex"><i class="fa-sharp fa-solid fa-users logobotoncontenido"></i>
            </div>
            <h2>Profesores</h2>
        </a>
        <a id="busuario" href="/usuario" class="flexhorizontal botoncontenido">
            <div class="contenedorlogobotoncontenido hidden lg:flex"><i class="fa-sharp fa-solid fa-user logobotoncontenido"></i>
            </div>
            <h2>Usuario</h2>
        </a>
        <a id="bnotificaciones" href="/notificaciones" class="flexhorizontal botoncontenido">
            <div class="contenedorlogobotoncontenido hidden lg:flex"><i
                    class="fa-sharp fa-solid fa-bell logobotoncontenido"></i></div>
            <h2>Notificaciones</h2>
        </a>
    </div>
    <a class="documentacion" href="index.html">Documentación</a>
</header>