---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Index">
    <main class="contenido z-10 overflow-y-auto">
        <section class="flex flex-col h-full justify-center items-center">
            <iframe src="https://outlook.office365.com/owa/calendar/40b1e2bbca7946289ce94acc8adac4a8@live.u-tad.com/8d321a74c6a245e6a4ace39afcb570e94451032747770918427/calendar.html" class="w-full h-full"></iframe>
        </section>
    </main>
</Layout>

<style></style>
