---
import Layout from "../layouts/Layout.astro";
import Profesor from "../components/Profesor.astro";
---

<Layout title="Profesores">
    <main class="contenido z-10 overflow-y-auto">
        <section class="flex flex-col lg:pt-8">
            <div class="flex flex-col items-start mx-4 lg:mx-8">
                <h2 class="text-lg mt-8">Profesores</h2>
                <div
                    class="bg-white w-full h-72 mt-4 border border-solid border-gray-300"
                >
                    <Profesor id="1" />
                    <Profesor id="2" />
                    <Profesor id="3" />
                </div>
            </div>
        </section>
    </main>
</Layout>

<style></style>
