---
import logoheader from '../fotos/logo-header.png'
---

<header class="menu">
    <div class="flex justify-between">
        <a href="index.html" class="botonlogoheader">
            <img class="h-1/3 lg:h-auto" src={logoheader.src} alt="">
        </a>
        <button id="botonmenu" class="fa-solid fa-bars logobotoncontenido2"></button>
    </div>
    <div class="botonesmenu">
        <a id="bcalendario" href="/" class="botoncontenido mt-24 lg:mt-0">
            <div class="hidden lg:flex lg:justify-center lg:w-1/4"><i
                    class="fa-sharp fa-solid fa-calendar logobotoncontenido"></i></div>
            <h2>Calendario</h2>
        </a>
        <a id="bprofesores" href="/profesores" class="botoncontenido">
            <div class="hidden lg:flex lg:justify-center lg:w-1/4"><i class="fa-sharp fa-solid fa-users logobotoncontenido"></i>
            </div>
            <h2>Profesores</h2>
        </a>
        <a id="busuario" href="/usuario" class="botoncontenido">
            <div class="hidden lg:flex lg:justify-center lg:w-1/4"><i class="fa-sharp fa-solid fa-user logobotoncontenido"></i>
            </div>
            <h2>Usuario</h2>
        </a>
        <a id="bnotificaciones" href="/notificaciones" class="botoncontenido">
            <div class="hidden lg:flex lg:justify-center lg:w-1/4"><i
                    class="fa-sharp fa-solid fa-bell logobotoncontenido"></i></div>
            <h2>Notificaciones</h2>
        </a>
    </div>
    <a class="documentacion" href="index.html">Documentación</a>
</header>

<style>

</style>

<script>
</script>
